.button {
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

button[data-color='pink'][data-shape='block'] {
  background-color: var(--color-pink);
  color: var(--color-white);
}

button[data-color='pink'][data-shape='block']:hover {
  background-color: var(--color-pink-dark);
}

button[data-color='pink'][data-shape='block']:disabled {
  background-color: var(--color-dark-gray);
  pointer-events: none;
}

button[data-color='gray'][data-shape='block'] {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

button[data-color='gray'][data-shape='block']:hover {
  background-color: var(--color-gray);
}